html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(40, 50, 70);

    transition: background-color 1s ease;
}

body.changeTheme {
    background-color: rgb(21, 21, 30);
}

header nav {
    background-color: rgb(21, 21, 30);
    color: rgb(225, 6, 0);
    font-family: Audiowide;
    font-size: 1.15rem;
    position: fixed;
    width: 100%;
    height: 12%;
    text-align: center;

    transition: background-color 1s ease, color 1s ease;
}

header nav.changeNavTheme {
    background-color: rgb(40, 50, 70);
    color: #dcdcdc;
}

header img {
    width: 85%;
    display: block;
    margin: auto;
    padding-top: 10%;
}

/************************************* #sprint *********************************************/

#sprint {
    padding-top: 10%;
    padding-bottom: 10%;
}

#sprint article {
    font-family: "Exo 2";
    color: white;

    width: 70%;
    margin: auto;
    font-size: 130%;
    line-height: 200%;
}

/************************************* #fill *********************************************/

#fill {
    padding: 3%;
    background-color: rgb(71, 70, 76);
    text-align: center;
}

#fill a {
    display: inline-block;
    color: black;
    font-family: Audiowide;
    font-size: 170%;
    font-weight: bold;
    text-decoration: none;
    padding: 1%;
    border-radius: 1rem;

    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

#fill a:hover {
    background-color: black;
    color: rgb(225, 6, 0);
    transform: scale(0.95);
}