html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #15151E;
}

.parallax {
    position: relative;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.parallax::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.parallax h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7rem;

    font-family: Audiowide;
    font-size: 5rem;
    color: white;
}

#teams {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    justify-items: center;
}

#teams a {
    text-decoration: none;
}

.team_card {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Exo 2";
    border-radius: 1.5rem;
    padding: 1.5rem;
    width: 40rem;
    cursor: pointer;
    overflow: hidden;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.team_card::before {
    position: absolute;
    content: '';
    border-radius: 1.5rem;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: top 0.5s ease;
}

.team_card:hover::before {
    top: 0;
}

.team_card * {
    position: relative;
    z-index: 2;
}

.team_card img {
    width: 80%;
    padding-top: 1rem;
}

.team_card div {
    display: flex;
    gap: 5rem;
}

.team_card:hover {
    transform: translateY(-20px);
}

.team_card:hover h1 {
    text-decoration: underline solid 2px white;
}

footer {
    background-color: black;
    padding: 4rem;
}

footer img {
    width: 15%;
}