:root {
    --homepageLighterGradient: #E56D00;
    --homepageDarkerGradient: #562200;
}


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.headings {
    font-family: Audiowide;
    margin-left: 5rem;
    color: white;
}

nav {
    position: fixed;
    background-color: #15151E;
    width: 100%;
    padding: 1.7rem;
    z-index: 5;
    transition: background-color 0.5s ease;
}

nav.changeNavColor {
    background-color: rgb(40, 50, 70);
}

nav a {
    text-decoration: none;
    font-family: Audiowide;
    color: white;
    transition: color 0.5s ease;
}

nav a:hover {
    color: rgb(225, 6, 0);
}

header {
    background: linear-gradient(to bottom, var(--homepageLighterGradient), var(--homepageDarkerGradient));
}

header img {
    width: 50%;
    display: block;
    margin: auto;
}

#home_image {
    position: relative;
    padding-top: 20rem;
}

#home_image #intro_content {
    position: absolute;
    top: 25%;

    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
}

#brand_name {
    font-size: 3rem;
    font-family: Audiowide;
}

#drivers {
    font-family: "Exo 2";
}

#smoothContinueBlock {
    height: 8rem;
    background: linear-gradient(to bottom, var(--homepageDarkerGradient), #15151E)
}

#team_profile {
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 20rem;
    background-color: #15151E;
    color: white;
}

#profile_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5rem;
    row-gap: 2rem;
}

#profile_grid div {
    font-family: "Exo 2";
}

#profile_grid div h1 {
    font-size: 1.7rem;
}

#profile_grid div h3 {
    color: #AAAA9D;
}

.parallax {
    position: relative;
    background-image: url("Pictures/McLarenParallax.avif");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.parallax::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

footer {
    background-color: black;
    padding: 4rem;
}

footer img {
    width: 15%;
}